<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whitemagic2014.dao.FunnyTextDao">

    <select id="loadAllChp" resultType="com.whitemagic2014.pojo.FunnyText">
        select *
        from chp_data
    </select>

    <insert id="insertChp" parameterType="com.whitemagic2014.pojo.FunnyText">
        insert into chp_data(hash, content)
        values (#{hash}, #{content})
    </insert>

    <select id="getChpByHash" resultType="com.whitemagic2014.pojo.FunnyText">
        select *
        from chp_data
        where hash = #{hash}
    </select>

    <select id="loadAllPyq" resultType="com.whitemagic2014.pojo.FunnyText">
        select *
        from pyq_data
    </select>

    <insert id="insertPyq" parameterType="com.whitemagic2014.pojo.FunnyText">
        insert into pyq_data(hash, content)
        values (#{hash}, #{content})
    </insert>

    <select id="getPyqByHash" resultType="com.whitemagic2014.pojo.FunnyText">
        select *
        from pyq_data
        where hash = #{hash}
    </select>

    <select id="loadAllDjt" resultType="com.whitemagic2014.pojo.FunnyText">
        select *
        from djt_data
    </select>

    <insert id="insertDjt" parameterType="com.whitemagic2014.pojo.FunnyText">
        insert into djt_data(hash, content)
        values (#{hash}, #{content})
    </insert>

    <select id="getDjtByHash" resultType="com.whitemagic2014.pojo.FunnyText">
        select *
        from djt_data
        where hash = #{hash}
    </select>


</mapper>